<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Sharing Platform</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="../style.css">

    <title>Recipe Platform</title>


</head>
<body>


    <header> 
        
        <a href="#" class="logo">Recipe Sharing<span>Platform</span></a> 
    
    
                <ul class="nav-links">
                    <li><a href="#About">About</a></li>
                    <li><a href="#RecipeList">Recipes</a></li>
                    <li><a href="./create.html">CreateYourOwn</a></li>
                    <li><a href="./ingredients.html">Ingredients</a></li>

                </ul>
                
        </header>
    
        <section class="home" id="About">
        
            <div class="home-text">
                <h5>Choose and Create</h5>
                <h1> your Recipes</h1>
                <p>Welcome to Recipe Platform, your ultimate recipe-sharing platform! Discover a world of culinary inspiration with recipes
                    from home cooks and professional chefs alike. Whether you're looking to whip up a quick weeknight dinner, bake a
                    show-stopping dessert, or explore international cuisines, Recipe Platform has something for every taste and skill level.
                    Share your favorite recipes, connect with fellow food enthusiasts, and embark on a delicious journey of creativity
                    and flavor. Let's cook, share, and savor together on Recipe Platform!</p>
                    
            </div>
        
        </section>
    
        <section class="recipe-list" id="RecipeList">

            <div class="recipeList">
                <h4>Recipes List</h4>
            </div>

        <div class="recipe-cards-container">

            <div class="recipe-card" data-recipe-id="2">
                <img src="../pictures/chickenCurry.jpg" alt="Recipe 1">
                <h3>Chicken Curry</h3>
                <div class="recipe-details"></div>
            </div>

            <div class="recipe-card" data-recipe-id="3">
                <img src="../pictures/ceaserSalad.jpg" alt="Recipe 2">
                <h3>Caesar Salad</h3>
                <div class="recipe-details"></div>
            </div>
        
            <div class="recipe-card" data-recipe-id="4">
                <img src="../pictures/chocolateChip.jpg" alt="Recipe 3">
                <h3>Chocolate Chip Cookies</h3>
                <div class="recipe-details"></div>
            </div>


            <div class="recipe-card" data-recipe-id="5">
                <img src="../pictures/beefTaco.jpg" alt="Recipe 4">
                <h3>Beef Tacos</h3>
                <div class="recipe-details"></div>
            </div>
        
            <div class="recipe-card" data-recipe-id="18">
                <img src="../pictures/Carbonara.jpg" alt="Recipe 5">
                <h3>Spaghetti Carbonara</h3>
                <div class="recipe-details"></div>
            </div>


        </div>

        </section>
        




        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="../mainPage.js"></script>

</body>
</html>